@page "/noiquy"
<PageTitle>NoiQuy</PageTitle>
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }

    h2 {
        color: #333;
    }

    ul {
        list-style-type: disc;
        margin-left: 20px;
        padding-left: 0;
    }

        ul li {
            text-align: justify;
            margin-bottom: 10px;
        }
</style>
<body>
    <h2>Quy định nội trú</h2>
    <br />
    <ul>
        <li>Không được đun nấu trong phòng ở và xung quanh khu nội trú.</li>
        <li>Chấp hành nghiêm chỉnh các quy định của Nhà nước, của Trường, Nội quy Ký túc xá.</li>
        <li>Tự bảo quản tài sản và đồ dùng cá nhân, tự chịu trách nhiệm về việc bảo vệ an toàn cho mình đối với việc sử dụng các dụng cụ, thiết bị cũng như các hoạt động khác.</li>
        <li>Có ý thức tự giác trong việc bảo quản tài sản công, triệt để tiết kiệm, chống lãng phí, thực hiện nghĩa vụ đầy đủ về trật tự vệ sinh Ký túc xá. Cam kết giữ nghiêm, có tinh thần trách nhiệm và ý thức tập thể.</li>
        <li>Bồi thường các mất mát hư hỏng tài sản công do mình gây ra theo quy định chung của nhà trường.</li>
        <li>Tự thanh toán các chi phí dịch vụ cá nhân khác như dịch vụ ăn uống, gửi xe…</li>
        <li>Thanh toán đầy đủ các khoản phí đúng hạn, lưu giữ phiếu thu để đối chiếu khi cần thiết.</li>
        <li>Cam kết giữ nghiêm kỷ luật nội trú, có tinh thần trách nhiệm và ý thức tập thể.</li>
        <li>Phải trả phòng và ra khỏi ký túc xá vào ngày hợp đồng hết hiệu lực.</li>
        <li>Sắp xếp chỗ ở cho Bên B ngay sau khi Bên B đã hoàn thành các thủ tục đăng ký chỗ ở theo quy định và thời gian trong hợp đồng.</li>
        <li>Đảm bảo các điều kiện về việc sinh hoạt và học tập cho Bên B theo quy định chung.</li>
        <li>Hướng dẫn Bên B sử dụng các trang thiết bị trong phòng ở.</li>
        <li>Lưu hóa đơn (phiếu thu) các khoản tiền do Bên B đóng.</li>
    </ul>
</body>
@code {

}
