@page "/Addsinhvien/{id?}"

@inject NavigationManager navigationManager
@inject ISinhVienServices Service
@inject NavigationManager Navigation
@rendermode InteractiveServer
@if (!string.IsNullOrEmpty(id))
{
    <PageTitle>CapNhatThongTin</PageTitle>
}
else
{
    <PageTitle>ThemSinhVien</PageTitle>
}
<div class="addbook_form">
    <div class="addbook_form_body">
        <EditForm FormName="AddSinhvienForm" Model="sinhvien" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <h3>
                @(!string.IsNullOrEmpty(id) ? "Cập Nhật Sinh Viên" : "Thêm Sinh Viên")
            </h3>
            <div class="form-group row">
                <label for="MSSV" class="col-form-label col-sm-2">MSSV:</label>
                <div class="col-sm-10">
                    <InputText id="MSSV" class="form-control" @bind-Value="sinhvien.Mssv" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="TenSinhvien" class="col-form-label col-sm-2">Họ Tên:</label>
                <div class="col-sm-10">
                    <InputText id="TenSinhvien" class="form-control" @bind-Value="sinhvien.TenSinhVien" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="NgaySinh" class="col-form-label col-sm-2">Ngày Sinh:</label>
                <div class="col-sm-10">
                    <InputDate id="NgaySinh" class="form-control" @bind-Value="sinhvien.NgaySinh" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="GioiTinh" class="col-form-label col-sm-2">Giới Tính:</label>
                <div class="col-sm-10">
                    <InputSelect id="GioiTinh" class="form-control" @bind-Value="sinhvien.GioiTinh">
                        <option value="">Chọn giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </InputSelect>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="Lop" class="col-form-label col-sm-2">Lớp:</label>
                <div class="col-sm-10">
                    <InputText id="Lop" class="form-control" @bind-Value="sinhvien.Lop" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="Khoa" class="col-form-label col-sm-2">Khoa:</label>
                <div class="col-sm-10">
                    <InputText id="Khoa" class="form-control" @bind-Value="sinhvien.Khoa" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="SoCCCD" class="col-form-label col-sm-2">Số CCCD:</label>
                <div class="col-sm-10">
                    <InputText id="SoCCCD" class="form-control" @bind-Value="sinhvien.SoCccd" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="DiaChi" class="col-form-label col-sm-2">Dịa Chỉ:</label>
                <div class="col-sm-10">
                    <InputText id="DiaChi" class="form-control" @bind-Value="sinhvien.DiaChi" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="SDT" class="col-form-label col-sm-2">SDT:</label>
                <div class="col-sm-10">
                    <InputText id="SDT" class="form-control" @bind-Value="sinhvien.Sdt" />
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-warning" @onclick="quaylai">Quay lại</button>
            </div>
            <br />
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string? id { get; set; }

    public Sinhvien sinhvien { get; set; } = new Sinhvien();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            sinhvien = await Service.GetByIdAsync(id);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (!string.IsNullOrEmpty(sinhvien.Mssv))
        {
            await Service.Addsinhviensync(sinhvien);
        }
        else
        {
            await Service.UpdateAsync(sinhvien);
        }
        navigationManager.NavigateTo("/sinhvien");
    }

    private void quaylai()
    {
        navigationManager.NavigateTo("/sinhvien");
    }
}

