@if(sinhvien != null)
{
    @if (id != null && !string.IsNullOrEmpty(id) && hopdong != null && !string.IsNullOrEmpty(hopdong.PhuongThucThanhToan) && hopdong.PhuongThucThanhToan == "Đang chờ phê duyệt")
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:@(showBookingModal ? "block" : "none");">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác Nhận cập nhật phòng</h5>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @onclick="capnhatmaphong">Xác Nhận</button>
                        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else if (hopdong == null || string.IsNullOrEmpty(hopdong.MaPhong))
    {
        @if (selectedPhong != null && phongValidationDictionary.TryGetValue(selectedPhong.MaPhong, out bool valid) ? !valid : true)
        {
            <div class="modal" tabindex="-1" role="dialog" style="display:@(showBookingModal ? "block" : "none");">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xác Nhận Đặt Phòng</h5>
                            <button type="button" class="close" @onclick="CloseModal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Bạn có chắc chắn muốn đặt phòng này?</p>
                            <p><strong>Tên Phòng:</strong> @selectedPhong?.TenPhong</p>
                            <p><strong>Đơn Giá:</strong> @selectedPhong?.DonGia</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" @onclick="ConfirmBooking">Xác Nhận</button>
                            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (selectedPhong != null && phongValidationDictionary.TryGetValue(selectedPhong.MaPhong, out bool validr) ? validr : false)
        {
            <div class="modal" tabindex="-1" role="dialog" style="display:@(showBookingModal ? "block" : "none");">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="modal-footer">
                                <h5 class="modal-title">Phòng đã đủ người. Vui lòng chọn phòng khác!</h5>
                                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Hủy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="modal" tabindex="-1" role="dialog" style="display:@(showBookingModal ? "block" : "none");">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-footer">
                            <h5 class="modal-title">Bạn đã có phòng rồi!</h5>
                            <button type="button" class="btn btn-secondary" @onclick="CloseModal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}else
{
    <div class="modal" tabindex="-1" role="dialog" style="display:@(showBookingModal ? "block" : "none");">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-footer">
                        <h5 class="modal-title">Bạn cần thêm thông tin của mình thì mới có thể đặt phòng đươc!</h5>
                        <button type="button" class="btn btn-secondary" @onclick="CloseModal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string? id { get; set; }
    [Parameter] public ClaimsPrincipal? user { get; set; }
    [Parameter] public Hopdong hopdong { get; set; }
    [Parameter] public Sinhvien? sinhvien { get; set; }
    [Parameter] public Phong? selectedPhong { get; set; }
    [Parameter] public bool showBookingModal { get; set; }
    [Parameter] public EventCallback capnhatmaphong { get; set; }
    [Parameter] public EventCallback ConfirmBooking { get; set; }
    [Parameter] public EventCallback CloseModal { get; set; }
    [Parameter] public Dictionary<string, bool> phongValidationDictionary { get; set; }
}
