<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QLKyTucXa</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="sinhvien">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> SinhVien
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="nhanvien">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> NhanVien
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="taikhoan">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> TaiKhoan
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="hopdong">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Hopdong
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, User, Employee">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="phong">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Phong
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="User">
            <Authorized>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="weather">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

