@page "/Adddichvu/{id?}"
@inject NavigationManager navigationManager
@inject IDichVuServices DichVuServices
@inject IPhongServices PhongServices
@inject ISnackbar Snackbar
@rendermode InteractiveServer

@if (!string.IsNullOrEmpty(id))
{
    <PageTitle>CapNhatThongTin</PageTitle>
}
else
{
    <PageTitle>ThemMoi</PageTitle>
}

<div class="addbook_form">
    <div class="addbook_form_body">
        <EditForm Model="dichvu" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <h3>
                @(!string.IsNullOrEmpty(id) ? "Cập Nhật Dịch Vụ" : "Thêm Dịch Vụ")
            </h3>
            <br />
            <div class="form-group row">
                <label for="TenDichVuBatBuoc" class="col-form-label col-sm-2">Tên Dịch Vụ:</label>
                <div class="col-sm-10">
                    <InputText id="TenDichVuBatBuoc" class="form-control" @bind-Value="dichvu.TenDichVuBatBuoc" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="DonGia" class="col-form-label col-sm-2">Đơn Giá:</label>
                <div class="col-sm-10">
                   <InputNumber id="DonGia" class="form-control" @bind-Value="dichvu.DonGia" /> 
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="Dvt" class="col-form-label col-sm-2">Đơn Vị Tính:</label>
                <div class="col-sm-10">
                    <InputText id="Dvt" class="form-control" @bind-Value="dichvu.Dvt" />
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label for="LoaiDichVu" class="col-form-label col-sm-2">Loại Dịch Vụ:</label>
                <div class="col-sm-10">
                    <InputSelect id="LoaiDichVu" class="form-control" @bind-Value="dichvu.LoaiDichVu">
                        <option value="">Chọn Loại dịch vụ</option>
                        <option value="DV Bắt Buộc">Dịch vụ bắt buộc</option>
                        <option value="DV thông thường">Dịch vụ thông thường</option>
                    </InputSelect>
                </div>
            </div>
            <br />
            <div class="d-flex justify-content-between">
                <MudButton OnClick="HandleValidSubmit" Variant="Variant.Filled" Color="Color.Primary">Lưu</MudButton>
                <MudSnackbarProvider />
                <button type="button" class="btn btn-warning" @onclick="quaylai">Quay lại</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string? id { get; set; }

    public Dichvu dichvu { get; set; } = new Dichvu();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            dichvu = await DichVuServices.GetDichvuByIdAsync(id);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (string.IsNullOrEmpty(dichvu.MaDv))
        {
            if ((string.IsNullOrEmpty(dichvu.TenDichVuBatBuoc) || dichvu.DonGia == null || string.IsNullOrEmpty(dichvu.Dvt) || string.IsNullOrEmpty(dichvu.LoaiDichVu)))
            {
                Snackbar.Add("Bạn cần nhập đầy đủ thông tin!", Severity.Warning, config =>
                {
                    config.VisibleStateDuration = 400;
                    config.HideTransitionDuration = 100;
                    config.ShowTransitionDuration = 500;
                });
                return;
            }
            else 
            {
                Snackbar.Add("Thêm dịch vụ thành công!", Severity.Success, config =>
                {
                    config.VisibleStateDuration = 400;
                    config.HideTransitionDuration = 100;
                    config.ShowTransitionDuration = 500;
                });
                await Task.Delay(1000);
                dichvu.MaDv = Guid.NewGuid().ToString();
                await DichVuServices.AddDichvuAsync(dichvu);
            }
        }
        else
        {
            if ((string.IsNullOrEmpty(dichvu.TenDichVuBatBuoc) || dichvu.DonGia == null || string.IsNullOrEmpty(dichvu.Dvt) || string.IsNullOrEmpty(dichvu.LoaiDichVu)))
            {
                Snackbar.Add("Bạn cần nhập đầy đủ thông tin!", Severity.Warning, config =>
                {
                        config.VisibleStateDuration = 400;
                        config.HideTransitionDuration = 100;
                        config.ShowTransitionDuration = 500;
                });
                return;
            }
            else
            {
                Snackbar.Add("Cập nhật thành công!", Severity.Success, config =>
                {
                    config.VisibleStateDuration = 400;
                    config.HideTransitionDuration = 100;
                    config.ShowTransitionDuration = 500;
                });
                await Task.Delay(1000);
                await DichVuServices.UpdateDichvuAsync(dichvu);
            }
        }
        navigationManager.NavigateTo("/dichvu");
    }


    private void quaylai()
    {
        navigationManager.NavigateTo("/dichvu");
    }
}