@page "/hopdong"
<style>

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }

    .header, .footer {
        text-align: center;
        font-weight: bold;
    }

    .content {
        margin-top: 20px;
    }

        .content p {
            margin: 5px 0;
        }

        .content .section {
            margin-top: 20px;
        }

    .signatures {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

        .signatures div {
            text-align: center;
        }


</style>
<div class="header">
    <p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
    <p>Độc lập - Tự do - Hạnh phúc</p>
    <p><br></p>
    <p>HỢP ĐỒNG THUÊ CHỖ Ở NỘI TRÚ</p>
</div>
<div class="content">
    <p>Hôm nay, ngày……tháng……năm……, Tại trường…………………………</p>
    <p>Hai bên gồm:</p>
    <div class="section">
        <p><strong>BÊN CHO THUÊ (Bên A): TRƯỜNG………………………………………</strong></p>
        <p>Đại diện:……………………………… Đơn vị công tác:………………………..</p>
        <p>Chức vụ:……………………………… Số điện thoại:……………………………</p>
    </div>
    <div class="section">
        <p><strong>BÊN THUÊ CHỖ Ở (Bên B):</strong></p>
        <p>Họ tên sinh viên:…………………………………….. Nam (Nữ):……………..</p>
        <p>Năm sinh:……………………………………….. Mã SV:…………………</p>
        <p>Lớp:……………………… Khoa:…………………… Khóa:…………………</p>
        <p>Số điện thoại:………………………………… Email:…………………………..</p>
        <p>Hộ khẩu thường trú:……………………………………………………………..</p>
    </div>
    <p>Bên A được ủy quyền bởi hiệu trưởng Trường…………………………………..</p>
    <p>Cùng bên B, thống nhất ký hợp đồng cho thuê chỗ ở nội trú tại Ký túc xá Trường……………………………………Với các điều khoản sau:</p>
    <div class="section">
        <p><strong>Điều 1:</strong> Bên A đồng ý cho bên B thuê 01 chỗ ở tại phòng số: ……tầng….. nhà……Ký túc xá Trường……………………………</p>
    </div>
    <div class="section">
        <p><strong>Điều 2:</strong> Giá cả thời gian và phương thức thanh toán:</p>
        <p>2.1. Đơn giá cho thuê……………………đồng/tháng</p>
        <p>2.2. Thời gian cho thuê 01 học kì 05 tháng từ ngày …………………………đến ngày……………</p>
        <p>Chấm dứt hợp đồng khi hết hạn hiệu lực của hợp đồng</p>
    </div>
</div>
<div class="footer">
    <p>Hà Nội, Ngày…….Tháng…….Năm</p>
</div>
<div class="signatures">
    <div>
        <p>Kí tên</p>
        <p><strong>Bên A</strong></p>
        <p>(Ký và ghi rõ họ tên)</p>
    </div>
    <div>
        <p>Kí tên</p>
        <p><strong>Bên B</strong></p>
        <p>(Ký và ghi rõ họ tên)</p>
    </div>
</div>


