@page "/hoantatdatphong"
@inject NavigationManager NavigationManager

<h1>Bạn đã gửi đăng ký thành công.</h1>
<h1>Bạn cần thanh toán Thì hợp đồng mới được xét duyệt!</h1>
<h2>Trân trọng.</h2>
<a href="/">Trở về trang chủ</a>
@code {

}
