@page "/xemhopdong"
@inject ISinhVienServices SinhVienServices
@inject INhanVienServices NhanVienServices
@inject IHopDongServices HopDongServices
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPhongServices PhongServices
@rendermode InteractiveServer
<PageTitle>Hopdong</PageTitle>

    @if (hopdong != null)
    {
        <div class="header">
            <p>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
            <p>Độc lập - Tự do - Hạnh phúc</p>
            <p><br></p>
            <p>HỢP ĐỒNG THUÊ CHỖ Ở NỘI TRÚ</p>
        </div>
        <div class="content">
            <div style="text-align: center;">
                <p>Hôm nay, Ngày @hopdong?.NgayLap?.Day Tháng @hopdong?.NgayLap?.Month Năm @hopdong?.NgayLap?.Year, Tại Ký Túc Xá Trường Bia</p>
                <p>Hai bên gồm:</p>
            </div>

            <div class="section">
                <p><strong>BÊN CHO THUÊ (Bên A): TRƯỜNG: Bia</strong></p>
                <p>Đại diện: @nhanvien?.HoTen. Đơn vị công tác: Trường Bia.</p>
                <p>Chức vụ: @nhanvien?.ChucVu. Số điện thoại: @nhanvien?.Sdt</p>
            </div>
            <div class="section">
                <p><strong>BÊN THUÊ CHỖ Ở (Bên B):</strong></p>
                <p>Họ tên sinh viên: @sinhvien?.TenSinhVien.    Nam (Nữ): @sinhvien?.GioiTinh.</p>
                <p>Năm sinh: @sinhvien?.NgaySinh?.ToString("dd/MM/yyyy"). Mã SV: @sinhvien?.Mssv.</p>
                <p>Lớp: @sinhvien?.Lop. Khoa: @sinhvien?.Khoa. </p>
                <p>Số điện thoại: @sinhvien?.Sdt. Email: @user?.FindFirst(ClaimTypes.Email)?.Value.</p>
                <p>Hộ khẩu thường trú: @sinhvien?.DiaChi.</p>
            </div>
            <p>Bên A được ủy quyền bởi hiệu trưởng Trường Bia.</p>
            <p>Cùng bên B, thống nhất ký hợp đồng cho thuê chỗ ở nội trú tại Ký túc xá Trường Bia. Với các điều khoản sau:</p>
            <div class="section">
                <p><strong>Điều 1:</strong> Bên A đồng ý cho bên B thuê 01 chỗ ở tại phòng số: @phong?.TenPhong tầng: @phong?.Tang khu: @phong?.Khu. Ký túc xá Trường Bia</p>
            </div>
            <div class="section">
                <p><strong>Điều 2:</strong> Giá cả thời gian và phương thức thanh toán:</p>
                <p>2.1. Đơn giá cho thuê 200.000 đồng/tháng</p>
                <p>2.3. Thời gian cho thuê: 01 năm học 10 tháng tính từ ngày @hopdong?.ThoiGianBatDau?.ToString("dd/MM/yyyy") đến ngày @hopdong?.ThoiGianKetThuc?.ToString("dd/MM/yyyy")</p>
                <p>Chấm dứt hợp đồng khi hết hạn hiệu lực của hợp đồng</p>
            </div>
        </div>
        <br />
    }
    else
    {
        <h7>Bạn cần đăng ký đặt phòng mới có hợp đồng để xem</h7>
    }

@code {
    private Sinhvien? sinhvien = new Sinhvien();
    private Nhanvien? nhanvien = new Nhanvien();
    private Phong? phong = new Phong();
    private Hopdong? hopdong = new Hopdong();
    private ClaimsPrincipal? user;
    private bool isChecked = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        sinhvien = await SinhVienServices.GetByIdUserAsync(user.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString());

        hopdong = await HopDongServices.GetHopDongByMssvAsync(sinhvien.Mssv);

        if(hopdong != null)
        {
            phong = await PhongServices.GetPhongByIdAsync(hopdong.MaPhong);

            nhanvien = await NhanVienServices.GetPhongByIdAsync(hopdong.IdnhanVien);
        }
    }
}
<style>
    .header, .footer {
        text-align: center;
        font-weight: bold;
    }

    .content {
        margin-top: 20px;
    }

        .content p {
            margin: 5px 0;
        }

        .content .section {
            margin-top: 20px;
        }

    .signatures {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

        .signatures div {
            text-align: center;
        }

    .checkbox-button-container {
        display: flex;
        align-items: center;
        gap: 500px; /* Khoảng cách giữa checkbox-container và button */
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        gap: 5px; /* Khoảng cách giữa checkbox và label */
    }
</style>

