@page "/Addnhanvien/{id?}"

@inject NavigationManager navigationManager
@inject INhanVienServices Service
@inject ITaiKhoanServices taikhoan
@rendermode InteractiveServer
@if (!string.IsNullOrEmpty(id))
{
    <PageTitle>CapNhatThongTin</PageTitle>
}
else
{
    <PageTitle>ThemNhanVien</PageTitle>
}
<div class="addbook_form">
    <div class="addbook_form_body">
        <EditForm Model="nhanvien" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <h3>
                @(!string.IsNullOrEmpty(id) ? "Cập Nhật Nhân Viên" : "Thêm Nhân Viên")
            </h3>
            <br />
            <div class="form-group row">
                <label for="HoTen" class="col-form-label col-sm-2">Họ Tên:</label>
                <div class="col-sm-10">
                    <InputText id="HoTen" class="form-control" @bind-Value="nhanvien.HoTen" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="Sdt" class="col-form-label col-sm-2">Sdt:</label>
                <div class="col-sm-10">
                    <InputText id="Sdt" class="form-control" @bind-Value="nhanvien.Sdt" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="DiaChi" class="col-form-label col-sm-2">Địa chỉ:</label>
                <div class="col-sm-10">
                    <InputText id="DiaChi" class="form-control" @bind-Value="nhanvien.DiaChi" />
                </div>
            </div>
            <br />
            <div class="form-group row">
                <label for="ChucVu" class="col-form-label col-sm-2">Chức Vụ:</label>
                <div class="col-sm-10">
                    <InputText id="ChucVu" class="form-control" @bind-Value="nhanvien.ChucVu" />
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label for="TaiKhoan" class="col-form-label col-sm-2">Tài Khoản:</label>
                <div class="col-sm-10">
                    <InputSelect id="TaiKhoan" class="form-control" @bind-Value="nhanvien.Iduser" > 
                        <option value="">Chọn tài khoản</option>
                        @foreach(var lap in tk)
                        {
                            <option value="@lap.Iduser">@lap.TenDangNhap</option>
                        }
                    </InputSelect>
                </div> 
            </div>
            <br/>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-warning" @onclick="quaylai">Quay lại</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string? id { get; set; }
    public List<Taikhoan> tk = new List<Taikhoan>();
    public Nhanvien nhanvien { get; set; } = new Nhanvien();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(id))
        {
            nhanvien = await Service.GetPhongByIdAsync(id);
        }
        tk = await taikhoan.GettaikhoanAsync();
    }

    private async Task HandleValidSubmit()
    {
        if (string.IsNullOrEmpty(nhanvien.IdnhanVien))
        {
            nhanvien.IdnhanVien = GenerateCode();
            await Service.AddPhongAsync(nhanvien);
        }
        else
        {
            await Service.UpdatePhongAsync(nhanvien);
        }
        navigationManager.NavigateTo("/nhanvien");
    }

    private void quaylai()  
    {
        navigationManager.NavigateTo("/nhanvien");
    }

    private string GenerateCode()
    {
        return Guid.NewGuid().ToString();
    }
}

